

.columna h1 {
    font-family:'Ubuntu', sans-serif;;
}

.cartas h1 {
    font-family: 'Ubuntu', sans-serif;
}

.titulo-contacto h1 {
    font-family: 'Ubuntu', sans-serif;
}

.columna1 p{
    font-family: 'Roboto Slab', serif;
}

.columna2 p{
    font-family: 'Roboto Slab', serif;
}

.columna3 p{
    font-family: 'Roboto Slab', serif;
}

.lorem1 {
    font-family: 'Roboto Slab', serif;
}